In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset
df = pd.read_csv('data.csv')
df.head()

,CountyName,State,Latitude,Longitude,Date,apparentTemperatureMax,apparentTemperatureMin,cloudCover,dewPoint,humidity,...,precipTypeIsOther,pressure,temperatureMax,temperatureMin,visibility,windBearing,windSpeed,NDVI,DayInSeason,Yield
0,Adams,Washington,46.929839,-118.352109,11/30/2014 0:00,18.61,-3.01,0.00,6.77,0.69,...,0,1027.95,23.93,6.96,10.00,9,3.80,136.179718,0,35.6
1,Adams,Washington,47.150327,-118.958859,11/30/2014 0:00,19.67,-0.74,0.00,6.66,0.65,...,0,1028.26,25.88,8.71,10.00,352,6.03,135.697540,0,35.6
2,Adams,Washington,46.811686,-118.695237,11/30/2014 0:00,20.66,-0.14,0.00,6.55,0.67,...,0,1028.29,24.67,8.26,10.00,25,3.59,135.676956,0,35.6
3,Adams,Washington,47.162342,-118.699677,11/30/2014 0:00,19.69,-2.66,0.03,7.32,0.69,...,0,1027.74,25.48,8.10,10.00,1,5.18,135.005798,0,35.6
4,Adams,Washington,47.157512,-118.434056,11/30/2014 0:00,18.82,-3.04,0.04,7.62,0.70,...,0,1027.16,24.83,8.32,9.99,5,4.69,134.803864,0,35.6

In [3]:
df.shape

(182549, 26)

In [4]:
# drop unwanted columns.
df = df.drop(['CountyName'], axis=1)
df = df.drop(['State'], axis=1)
df = df.drop(['Date'], axis=1)
df = df.drop(['cloudCover'], axis=1)
df = df.drop(['dewPoint'], axis=1)
df = df.drop(['precipIntensity'], axis=1)

In [5]:
df.head()

,Latitude,Longitude,apparentTemperatureMax,apparentTemperatureMin,humidity,precipIntensityMax,precipProbability,precipAccumulation,precipTypeIsRain,precipTypeIsSnow,precipTypeIsOther,pressure,temperatureMax,temperatureMin,visibility,windBearing,windSpeed,NDVI,DayInSeason,Yield
0,46.929839,-118.352109,18.61,-3.01,0.69,0.0,0.0,0.0,0,0,0,1027.95,23.93,6.96,10.00,9,3.80,136.179718,0,35.6
1,47.150327,-118.958859,19.67,-0.74,0.65,0.0,0.0,0.0,0,0,0,1028.26,25.88,8.71,10.00,352,6.03,135.697540,0,35.6
2,46.811686,-118.695237,20.66,-0.14,0.67,0.0,0.0,0.0,0,0,0,1028.29,24.67,8.26,10.00,25,3.59,135.676956,0,35.6
3,47.162342,-118.699677,19.69,-2.66,0.69,0.0,0.0,0.0,0,0,0,1027.74,25.48,8.10,10.00,1,5.18,135.005798,0,35.6
4,47.157512,-118.434056,18.82,-3.04,0.70,0.0,0.0,0.0,0,0,0,1027.16,24.83,8.32,9.99,5,4.69,134.803864,0,35.6

In [6]:
df = df.drop(['precipIntensityMax'], axis=1)
df = df.drop(['precipProbability'], axis=1)
df = df.drop(['precipAccumulation'], axis=1)
df = df.drop(['precipTypeIsRain'], axis=1)
df = df.drop(['precipTypeIsSnow'], axis=1)
df = df.drop(['precipTypeIsOther'], axis=1)

In [7]:
df.head()

,Latitude,Longitude,apparentTemperatureMax,apparentTemperatureMin,humidity,pressure,temperatureMax,temperatureMin,visibility,windBearing,windSpeed,NDVI,DayInSeason,Yield
0,46.929839,-118.352109,18.61,-3.01,0.69,1027.95,23.93,6.96,10.00,9,3.80,136.179718,0,35.6
1,47.150327,-118.958859,19.67,-0.74,0.65,1028.26,25.88,8.71,10.00,352,6.03,135.697540,0,35.6
2,46.811686,-118.695237,20.66,-0.14,0.67,1028.29,24.67,8.26,10.00,25,3.59,135.676956,0,35.6
3,47.162342,-118.699677,19.69,-2.66,0.69,1027.74,25.48,8.10,10.00,1,5.18,135.005798,0,35.6
4,47.157512,-118.434056,18.82,-3.04,0.70,1027.16,24.83,8.32,9.99,5,4.69,134.803864,0,35.6

In [8]:
df = df.drop(['visibility'], axis=1)
df = df.drop(['windBearing'], axis=1)
df = df.drop(['windSpeed'], axis=1)
df = df.drop(['NDVI'], axis=1)
df = df.drop(['DayInSeason'], axis=1)

In [9]:
df.head()

,Latitude,Longitude,apparentTemperatureMax,apparentTemperatureMin,humidity,pressure,temperatureMax,temperatureMin,Yield
0,46.929839,-118.352109,18.61,-3.01,0.69,1027.95,23.93,6.96,35.6
1,47.150327,-118.958859,19.67,-0.74,0.65,1028.26,25.88,8.71,35.6
2,46.811686,-118.695237,20.66,-0.14,0.67,1028.29,24.67,8.26,35.6
3,47.162342,-118.699677,19.69,-2.66,0.69,1027.74,25.48,8.10,35.6
4,47.157512,-118.434056,18.82,-3.04,0.70,1027.16,24.83,8.32,35.6

In [10]:
# rename columns.
df = df.rename(index=str, columns={"apparentTemperatureMax":"ATMAX"})
df = df.rename(index=str, columns={"apparentTemperatureMin":"ATMIN"})
df = df.rename(index=str, columns={"temperatureMax":"tempmax"})
df = df.rename(index=str, columns={"temperatureMin":"tempmin"})
df.head()

,Latitude,Longitude,ATMAX,ATMIN,humidity,pressure,tempmax,tempmin,Yield
0,46.929839,-118.352109,18.61,-3.01,0.69,1027.95,23.93,6.96,35.6
1,47.150327,-118.958859,19.67,-0.74,0.65,1028.26,25.88,8.71,35.6
2,46.811686,-118.695237,20.66,-0.14,0.67,1028.29,24.67,8.26,35.6
3,47.162342,-118.699677,19.69,-2.66,0.69,1027.74,25.48,8.10,35.6
4,47.157512,-118.434056,18.82,-3.04,0.70,1027.16,24.83,8.32,35.6

In [11]:
X = df.iloc[:, :-1]
y = df.iloc[:,8]

In [12]:
X.shape

(182549, 8)

In [13]:
y.shape

(182549,)

In [14]:
X=X.fillna(0)

In [15]:
X.isnull().sum()

Latitude     0
Longitude    0
ATMAX        0
ATMIN        0
humidity     0
pressure     0
tempmax      0
tempmin      0
dtype: int64

In [16]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [17]:
X_test

,Latitude,Longitude,ATMAX,ATMIN,humidity,pressure,tempmax,tempmin
102981,45.296269,-107.387223,71.35,48.98,0.39,1011.44,71.35,48.98
30150,36.702452,-98.319893,21.49,-4.14,0.59,1037.98,26.51,10.14
145055,35.480572,-96.649965,72.18,55.66,0.83,1006.25,72.18,55.66
124736,38.300684,-96.736178,77.18,50.82,0.79,1007.96,77.18,50.82
147332,38.300684,-96.736178,72.48,44.01,0.52,1016.16,72.48,46.86
...,...,...,...,...,...,...,...,...
40088,31.664059,-99.067585,27.29,25.28,0.69,1028.82,33.15,31.82
51768,38.346888,-95.119087,33.69,19.29,0.69,1030.91,38.65,25.37
67379,47.787079,-118.852193,52.30,38.52,0.80,1000.37,52.30,42.87
24761,32.318562,-96.740829,61.31,28.42,0.57,1015.74,61.31,34.56
180278,33.008470,-98.147701,85.50,60.14,0.74,1016.71,83.79,60.14

In [18]:
y_test

102981    42.2
30150     29.3
145055    34.9
124736    46.0
147332    46.0
          ...
40088     21.4
51768     36.2
67379     53.0
24761     39.3
180278    43.8
Name: Yield, Length: 36510, dtype: float64

In [19]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [20]:
# Predicting the Test set results
y_pred = regressor.predict(X_test)

from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [21]:
score

0.25226490847754124

In [22]:
y_test[100]

33.9

In [23]:
y_pred[100]

26.323969020065118

In [24]:
# Predicting the sigle observation results. 
a = [45.296269,-107.387223,71.35,48.98,0.39,1011.44,71.35,48.98]
b = np.array(a)
b = b.reshape(1, -1)
y_pred_single_obs = regressor.predict(b)
round(float(y_pred_single_obs), 2)

43.57

In [25]:
# save the model to disk
import pickle

filename = 'new_model.sav'
pickle.dump(regressor, open(filename, 'wb'))

In [26]:
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

0.25226490847754124